// cover some element-plus styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}


// dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}

.el-dropdown-menu__item {
  padding: 6px 12px !important;
}


// el-tooltip,的权重
.is-dark {
  z-index: 99999 !important;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}


.el-row {
  margin-bottom: 10px;
}


.el-sub-menu .el-sub-menu__icon-arrow {
  margin-right: -5px
}

.el-table th.el-table__cell {
  background: #F5F6FA;
}


.el-dialog .el-dialog__footer {
  padding: 16px 24px;
  border-top: 1px solid #e5e5e5;
}

.el-dialog .el-dialog__header {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.el-dialog__body {
  padding-bottom: 10px;
}